<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17056414326-t1jr2jl3a1cad0033g7brsv68us5rl1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17056414326-t1jr2jl3a1cad0033g7brsv68us5rl1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBQPJ6PNfBDIfpFPeFxxygtB2_eg00pUXg</string>
	<key>GCM_SENDER_ID</key>
	<string>17056414326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.absensi.absensiOsjur</string>
	<key>PROJECT_ID</key>
	<string>absensiosjur</string>
	<key>STORAGE_BUCKET</key>
	<string>absensiosjur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17056414326:ios:bf23cb573bce9757007d57</string>
</dict>
</plist>